body {
  background-color: rgb(253, 251, 251);
  color: rgb(11, 56, 157);
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 150px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

#minha_foto {
  border: 1px solid black;
}

header {
  margin-top: 0;
  text-align: center;
  position: fixed;
  background-color: rgb(252, 251, 249);
  top: 0;
  left: 0;
  right: 0;
}

nav ul li {
  background-color: rgb(11, 56, 157);
  display: inline-block;
  font-weight: 200;
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
  color: rgb(252, 251, 249);
}

nav ul li:hover , nav ul li:active {
  background-color: rgb(47, 87, 171);
}

nav {
  text-align: center;
}

article {
  display: inline-block;
  width: 40%;
}

aside {
  display: inline-block;
  width: 40%;
}

.lado-esquerdo , .lado-direito {
  border: 1px solid;
  border-radius: 4px;
  padding: 20px;
}

table {
  display: none;
}
