body {
  background-color: rgb(253, 251, 251);
  color: rgb(001, 001, 001);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 150px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

#minha_foto {
  height: 300px;
  margin: 20px;
}

header {
  margin-top: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(253, 251, 251);
}

nav ul li {
  background-color: grey;
  display: inline-block;
  font-weight: 200;
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
}

nav ul li:hover , nav ul li:active {
  background-color: lightgrey;
}

nav {
  text-align: center;
}

article {
  display: inline-block;
  width: 40%;
}

aside {
  display: inline-block;
  width: 40%;
}

.lado-esquerdo , .lado-direito {
  border: 1px solid;
  border-radius: 4px;
  padding: 20px;
}

table {
  display: none;
}
